{% extends 'base.html' %}


{% block head %}
<title>New Post</title>
{% endblock %}

{% block body %}
<h1>New post</h1>
<hr>
<h2>Create New Blog Post:</h2>
<form action="/posts" , method="POST">
    
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter TITLE" aria-label="Enter TITLE">
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" name="author" id="author" placeholder="Enter AUTHOR" aria-label="Enter AUTHOR">
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name = "content" id="content" placeholder="Enter CONTENT" aria-label="Enter CONTENT" rows="3"></textarea>
    <br>
    <input type="submit" value="Post">
    <a href='/posts'> <input type="submit" value="BACK"> </a>

</form>
<hr>

{% endblock %}



